.nav{   /*i took of the bullet points and make it horizantal*/
    list-style: none;
    display: flex;   
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0px;
}
.container {
    display: inline-flex;
    flex-wrap: wrap;

}
img {
    width: 250px;
    flex-shrink: initial;
}
.animal {
    flex-basis: 20%;
    
}
header {
    border-radius: 10px;
}